body {
    background-color: #4A8AB5;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: beige;
}

form {
    display: inline;
}

h1 {
    text-align: center;
    color: #4A8AB5;
}

nav {
    background-color: #6EA2C4;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: floralwhite;
    font-size: 1.5em;
}

nav a:hover {
    color: #B5754A;
    text-decoration: none;
}